body {
    background: #3db999;
    display: flex;
    flex-direction: column;
    font-family: Lato;
    height: 100%;
    margin: auto;
    text-shadow: 0 0px 2px rgba(245, 245, 245, .25);
  }

.blue-box {
    width: 500px;
    height: 300px;
    background-color: #008ec6;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.blue-box img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload-button {
    width: 100px;
    height: 50px;
    background-color: #0ce9af;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: trebuchet ms;
    font-weight: bold;
    font-size: 13px;
}

.text-container {
    text-align: center;
    color: white;
    font-family: trebuchet ms;
    font-size: 17px;
    padding: 10px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


input[type="file"] {
    display: none; /* Hide the default file input */
}

.upload-button {
    cursor: pointer; /* Change cursor to pointer for better UX */
}

.uploaded-image {
    max-width: 100px; /* Limit the width of the displayed image */
    max-height: 100px; /* Limit the height of the displayed image */
}